@import "tailwindcss";
@import "../style/color.css";
@import "../style/landing.css";

:root {
  --background: var(--bone);
  --foreground: var(--cafe-noir);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--kombu-green);
    --foreground: var(--bone);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
